.grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    border: 1px solid #000;
    height: 300px;
    width: 400px;
}

.overlay {
    position: absolute;
    display: relative;
    width: 100vw;
    height: 100vh;
    background-color: #dbbe98;
    opacity: 0.9;
}

.colorBtn {
    position:relative;
    display: flex;
    padding: 0.25rem 0.5rem;
    border: 3px solid #fefefe;
    border-radius: 7px;
    color: #fefefe;
    margin: 0 auto;
    background: rgba(0,0,0,0.6);
    font-size: 1.5rem;
    text-transform: capitalize;
    cursor: pointer;
    outline: none;
}

.colorBtn:hover {
    background: rgb(0,0,0);
}