
/* flaticon attribution = <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> */

#background {
    background-image: url("images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    width: 1200px;
    position: relative;
}

#hero {
    background-image: url("images/hero.png");
    background-size: cover;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 700px;
    left: 550px;
}

.alien {
    background-image: url("images/enemy.png");
    background-size: cover;
    height: 50px;
    width: 50px;
    position: absolute;
}

#rockets {
    height: 800px;
    width: 1200px;
    position: absolute;
}

.rocket {
    background-image: url("images/missile3.png");
    background-size: cover;
    transform: rotate(180deg);
    height: 16px;
    width: 10px;
    position: absolute;
}
