
/* flaticon attribution = <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> */

body {
    background-color: #11041d;
}

/*----- overlay settings */

.gamecontainer {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    height: 800px;
    width: 1200px;
    overflow: hidden;
}

/*----- Html game elements -----*/

#background {
    background-image: url("assets/img/11.jpg");
    background-size: cover;
    overflow: hidden;
    height: 1000px;
    width: 1200px;
    position: relative;
    animation: scrollingback 60s linear infinite;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

@keyframes scrollingback {
  from {
    background-position-y: 0px;
  }
  to {
    background-position-y: 800px;
  }
}

#spaceship {
    background-image: url("assets/img/spaceship.png");
    background-size: cover;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 750px;
    left: 550px;
}

.alien {
    background-image: url("assets/img/enemy.png");
    background-size: cover;
    height: 30px;
    width: 30px;
    position: absolute;
}

#rockets {
    height: 800px;
    width: 1200px;
    position: absolute;
}

.rocket {
    background-image: url("assets/img/missile2.png");
    background-size: cover;
    transform: rotate(180deg);
    height: 17px;
    width: 12px;
    position: absolute;
}

#lasers {
    height: 800px;
    width: 1200px;
    position: absolute;
}

.laser {
    background-image: url("assets/img/laser.png");
    background-size: cover;
    height: 10px;
    width: 4px;
    position: absolute;
}

#explosions {
    height: 800px;
    width: 1200px;
    position: absolute;
}

.explosion {
    background-image: url("assets/img/explosion.png");
    background-size: cover;
    width: 40px;
    height: 40px;
    position: absolute;
    animation: explosive 200ms forwards;
}

@keyframes explosive {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}

.buttoncontainer {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
    flex-direction: column;
    background: #050801;
}

p {
    position: relative;
    display: inline-block;
    top: 70px;
    color: #03e9f4;
    font-size: 18px;
    letter-spacing: 1.3px;
    line-height: 30px;
    animation: slideIn 2000ms ease forwards;
    text-align: center;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translate(900px, 0);
  }
  10% {
    opacity: 1;
  }
  50% {
    transform: translate(30px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

a:hover, p:hover {
    cursor: pointer;
}

.button {
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 10px;
    color: #03e9f4;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    overflow: hidden;
    transition: 0.5s;
}


.button:hover {
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f3, 0 0 25px #03e9f3, 0 0 50px #03e9f3, 0 0 200px #03e9f3;
}

a .snake {
    position: absolute;
    display: block;
}

a .snake:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: snake1 1s linear infinite;
}

@keyframes snake1 {
    0% {
        left: -100%;
    }
    50%, 100% {
        left: 100%;
    }
}

a .snake:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: snake2 1s linear infinite;
    animation-delay: 0.25s;
}

@keyframes snake2 {
    0% {
        top: -100%;
    }
    50%, 100% {
        top: 100%;
    }
}

a .snake:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: snake3 1s linear infinite;
    animation-delay: 0.5s;
}

@keyframes snake3 {
    0% {
        right: -100%;
    }
    50%, 100% {
        right: 100%;
    }
}

a .snake:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: snake4 1s linear infinite;
    animation-delay: 0.75s;
}

@keyframes snake4 {
    0% {
        bottom: -100%;
    }
    50%, 100% {
        bottom: 100%;
    }
}